{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ecmaFeatures": {
    "jsx": true,
    "flow": true
  },
  "extends": "airbnb",
  "globals": {
    "fetch": true,
    "describe": true,
    "it": true,
    "navigator": true,
    "__DEV__": true,
    "XMLHttpRequest": true,
    "FormData": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "global-require": 0,
    "react/jsx-first-prop-new-line": 0,
    "linebreak-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  }
}
