{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ecmaFeatures": {
    "jsx": true,
    "flow": true
  },
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "globals": {
    "fetch": true,
    "navigator": true,
    "__DEV__": true,
    "XMLHttpRequest": true,
    "FormData": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "global-require": 0,
    "react/jsx-first-prop-new-line": 0,
    "linebreak-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "react/forbid-prop-types": 1,
    "react/no-unused-prop-types": 1,
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
  }
}
